<div class="row">
  <div class="col-6 card">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :dob%><br />
        <%= f.text_field :dob, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :gender%><br />
        <%= f.check_box :gender, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :img_link%><br />
        <%= f.file_field :img_link, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password, class: "p-1 m-1" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "p-1 m-1" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn btn-primary py-2 px-5 m-2" %>
      </div>
      
    <% end %>
    <div class="actions">
      <%= render "devise/shared/links" %>
    </div>
  </div>

</div>
