<div class="do-sidebar d-flex flex-column justify-content-center align-items-center">
    <% if current_user.img_link.nil? %>
        <div class="profile-img--default m-4"><%= current_user_initial %></div>
    <%else%>
        <%= image_tag current_user.img_link, class:"profile-img m-4"%>  
    <%end%>
    <p><%= current_user.display_name%></p>
    <p class="sub-title"><%= current_user.email %></p>

</div>
<div class="d-flex justify-content-between m-3">
    <%= link_to 'Friends', friends_path, class: 'do-btn'%>
    <%= link_to 'Notifications', notifications_path, class: 'do-btn'%>
</div>