<%= render 'devise/shared/navbar'%>

<%= link_to "Logout", destroy_user_session_path, method: :delete %>

<%= form_with scope: :post, url: '', local: true do |form| %>

<%= form.rich_text_area :body %>
<div class="trix-footbar p-3 d-flex justify-content-end">
    <%= form.submit "Post" %>
</div>
<%end%>