<div class="post" id="post-<%= post.id %>">
    <header class="post-header d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
        <div class="profile-img--default"><%= post.user.initial %></div>
        <span class="user-name text-white m-2"><%= post.user.display_name %></span>
    </div>
        <div class="time text-white"> <%= time_ago_in_words(post.created_at) %> ago</div>
    </header>
    <div class="post-body"><%= post.body %></div>
    <div class="action-toolbar d-flex justify-content-between align-items-center">
    <div>
        <%= link_to show_svg('general_icons/arrow_up.svg'), likes_path(like: {post_id: post.id, user_id: post.user_id}), method: 'post', class:'upvote' %>
        <span class="text-white"><%= post.likes.length %></span>
    </div>
        <div>
            <%= link_to 'view more with comments', post_path(id: post.id), class: 'text-primary' %>
        </div>
    </div>
</div>